<div class="container-fluid">   
    <div class="col-sm-12">
        <br>
        <table ng-if="!messageCalificaciones" class="table table-striped">
            <thead>
                <tr>
                    <th>Total calificaciones:</th>
                    <td> {{calificacionesRecords.length}}</td>
                </tr>
                <tr>
                    <th>&nbsp;</th>
                </tr>
                
                            <tr> 
                                <th>Descripción</th>
                                <th>Fecha</th>                                                                                             
                                <th>Nota</th>  
                                <th>Reserva</th>
                            </tr>
            </thead>
            
            <tbody>
                 <tr ng-repeat="calificacion in calificacionesRecords">          
                                <td id="{{$index}}-descripcion">{{calificacion.descripcion}}</td>   
                                <td id="{{$index}}-fechaCali">{{calificacion.fechaCali| date:'dd/MM/yyyy'}}</td> 
                                <td id="{{$index}}-nota">{{calificacion.nota}}</td>
                                <td id="{{$index}}-idReserva">{{calificacion.idReserva}}</td>                                                         
                                
                                <td id="{{$index}}-actions">
                                </td>
                            </tr>
            </tbody>
        </table>
        <table ng-if="messageCalificaciones" class="table table-striped">
            
            <tbody>
                <tr>
                    <td><b>{{messageCalificaciones}}</b></td>                                  
                </tr>
            </tbody>
        </table>
    </div>

</div>
