<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <dl>     
                <dt>Documento de identificación</dt>
                <dd>{{currentUsuario.documentoUsuario}}</dd>
                
                <hr>
                <dt>Nombres y apellidos</dt>
                <dd>{{currentUsuario.nombre}}</dd>
                
                <hr>
                <dt>Tipo de documento</dt>
                <dd>
                    <div ng-if="currentUsuario.tipoId == 1">
                    Cedula
                    </div>
                    <div ng-if="currentUsuario.tipoId == 2">
                    Cedula extranjería
                    </div>
                    <div ng-if="currentUsuario.tipoId == 3">
                    Pasaporte
                    </div>
                </dd>
                
                <hr>
                <dt>Fecha de nacimiento</dt>
                <dd>{{currentUsuario.fechaNacimiento| date:'dd-MM-yyyy'}}</dd>
                
                <hr>
                <dt>Tarjeta de crédito</dt>
                <dd>{{currentUsuario.tarjetaCredito}}</dd>
                
                <hr>
                <dt>PSE</dt>
                <dd>{{currentUsuario.contraseniaPSE}}</dd>
            </div>
            <div class="col-md-6">
                </dl>
                <ul class="nav nav-tabs">
                     <li role="presentation" class="active"> <a ui-sref="reservasList({documentoUsuario: currentUsuario.documentoUsuario})">Reservas</a></li>
                    <li role="presentation" class="active"> <a ui-sref="puntosList({documentoUsuario: currentUsuario.documentoUsuario})">Puntos</a></li>
                   
                </ul>
                
                <div class="col-md-12">
                <div ui-view="childrenView"></div>
            </div>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</div>

