<div class="panel panel-default"> 
<div class="panel-body">
            
        </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                
                <dt>Documento de identificación</dt>
                <dd>{{currentUsuario.documentoUsuario}}</dd>
                
                <hr>
                <dt>Nombres y apellidos</dt>
                <dd>{{currentUsuario.nombre}}</dd>
                
                <hr>
                <dt>Tipo de documento</dt>
                <dd>
                    <div ng-if="currentUsuario.tipoId == 1">
                    Cedula
                    </div>
                    <div ng-if="currentUsuario.tipoId == 2">
                    Cedula extranjería
                    </div>
                    <div ng-if="currentUsuario.tipoId == 3">
                    Pasaporte
                    </div>
                </dd>
                
                <hr>
                <dt>Fecha de nacimiento</dt>
                <dd>{{currentUsuario.fechaNacimiento| date:'dd-MM-yyyy'}}</dd>
                
                <hr>
                <dt>Tarjeta de crédito</dt>
                <dd>{{currentUsuario.tarjetaCredito}}</dd>
                
                <hr>
                <dt>PSE</dt>
                <dd>{{currentUsuario.contraseniaPSE}}</dd>
                 <hr>
                        <a class="btn btn-secondary" ui-sref="usuarioConsulta({documentoUsuario: currentUsuario.documentoUsuario})"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Consulta </a>
            </div>
           
            <div class="col-md-9">
                <nav class="navbar navbar-inverse">
                <ul class="nav navbar-nav" style="display: inline-block;float: none" >
                    <li> <a ui-sref="direccionesList({documentoUsuario: currentUsuario.documentoUsuario})">Direcciones</a></li>
                    <li> <a ui-sref="puntosList({documentoUsuario: currentUsuario.documentoUsuario})">Puntos</a></li>
                    <li> <a ui-sref="reservasList({documentoUsuario: currentUsuario.documentoUsuario})">Reservas</a></li>      
                </ul>
                <br>
                </nav>
                <div class="col-md-12">
                <div ui-view="childrenView"></div>

            </div>
                                                            

            </div>

        </div>
    </div>
</div>

