<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createUsuario">Crear nuevo usuario</label>
                <label ng-if="edit" id="editUsuario">Edit Usuario</label></div>
            <div class="panel-body">
                <form ng-submit="createUsuario()" name="usuario">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="usuarioNombre" class="col-sm-4">Nombre:</label>
                            <input id="usuarioNombre" required ng-model="usuarioNombre" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="usuarioTipoId" class="col-sm-4">Tipo documento:</label>
                              <select id="usuarioTipoId" required ng-model="usuarioTipoId">
                                <option value="1">Cedula</option>
                                <option value="2">Cedula de extranjeria</option>
                                <option value="3">Pasaporte</option>
                              </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="usuarioDocumentoUsuario" class="col-sm-4">Documento usuario:</label>
                            <input id="usuarioDocumentoUsuario" required ng-model="usuarioDocumentoUsuario" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="usuarioFechaNacimiento" class="col-sm-4">Fecha nacimiento:</label>
                            <input type="date" id="usuarioFechaNacimiento" placeholder="DD/MM/YYYY" required ng-model="usuarioFechaNacimiento" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="usuarioTarjetaCredito" class="col-sm-4">Tarjeta credito:</label>
                            <input id="usuarioTarjetaCredito" ng-model="usuarioTarjetaCredito" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="usuarioNumeroCsv" class="col-sm-4">Numero csv:</label>
                            <input id="usuarioNumeroCsv" ng-model="usuarioNumeroCsv" class="col-sm-2"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="usuarioContraseniaPSE" class="col-sm-4">PSE:</label>
                            <input id="usuarioContraseniaPSE" ng-model="usuarioContraseniaPSE" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="usuarioPassword" class="col-sm-4">Contraseña:</label>
                            <input type="password" id="usuarioPassword" required ng-model="usuarioPassword" class="col-sm-3"/>
                        </div>
                    </div>
                    

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!usuario.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="usuario.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="usuariosList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>