<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Pagos</label></div>
            <div class="panel-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Id de un pago</th>    
                            <th>Monto</th>  
                            <th>Estado</th> 
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pago in pagosRecords">
                            <td id="{{$index}}-id">{{pago.id}}</td>
                            <td id="{{$index}}-monto">{{pago.monto}}</td>     
                            <td id="{{$index}}-estado">{{mapearEstado(pago)}}</td>

                            <td id="{{$index}}-idReserva">
                                <button type="button" ng-click="verificarPago(pago)" class="btn btn-primary">Aceptar pago</button>
                                <button type="button" ng-click="verificarReembolso(pago)" class="btn btn-warning">Aceptar reembolso</button>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>