<div class="container" ng-if="isAuthenticated() && !hasPermissions()">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <h1 class="float-left display-3 mr-4">¡Hey! usted no puede acceder aqui</h1>
                <h4 >You do not have permission for this action.</h4>
                <p >Contact the administrator to obtain permission.</p>
            </div>
        </div>
    </div>

<div <div ng-if="isAuthenticated() && hasPermissions()" class="row">
    <div class="col-sm-12" style="text-align: center">
        <h2>Pagos</h2>
    </div>
    <div class="col-sm-12"><br></div>
    <div class="col-sm-1" style="text-align: center">  
    </div>
    <div class="col-sm-10">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                            <th>Id de un pago</th>    
                            <th>Monto</th>  
                            <th>Estado</th> 
                            <th>Accion</th>
                        </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pago in pagosRecords">
                            <td id="{{$index}}-id">{{pago.id}}</td>
                            <td id="{{$index}}-monto">{{pago.monto}}</td>     
                            <td id="{{$index}}-estado">{{mapearEstado(pago)}}</td>

                            <td id="{{$index}}-idReserva">
                                <button type="button" ng-click="verificarPago(pago)" class="btn btn-primary">Aceptar pago</button>
                                <button type="button" ng-click="verificarReembolso(pago)" class="btn btn-warning">Aceptar reembolso</button>
                            </td>

                        </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1"></div>

</div>


