
<!DOCTYPE html>
<html ng-app="mainApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Préstamo de Bicicletas</title>

        <link rel="shortcut icon" href="resources/img/bikeicon.jpg">
        <!-- Dependencias Externas -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>       
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="src/modules/calificaciones/calificaciones.mod.js" type="text/javascript"></script>
        <script src="src/modules/calificaciones/calificaciones.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/calificaciones/calificacionesDetail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/calificaciones/new/calificaciones.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/calificaciones/update/calificaciones.update.ctrl.js" type="text/javascript"></script>


        <script src="src/modules/estaciones/estaciones.mod.js" type="text/javascript"></script>
        <script src="src/modules/estaciones/estaciones.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/estaciones/new/estaciones.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/estaciones/delete/estaciones.delete.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/accesorios/accesorios.mod.js" type="text/javascript"></script>
        <script src="src/modules/accesorios/accesorios.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesorios/new/accesorios.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesorios/delete/accesorio.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesorios/estacion/accesorios.estacion.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesorios/accesoriosReserva.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesorios/asociar/accesorios.asociar.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesorios/quitar/accesorios.quitar.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesorios/estacion/accesorios.estacion.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesorios/estacion/accesorios.estacion.mover.ctrl.js" type="text/javascript"></script>
        


        <script src="src/modules/bicicletas/bicicletas.mod.js" type="text/javascript"></script>
        <script src="src/modules/bicicletas/bicicletas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/bicicletas/new/bicicletas.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/bicicletas/delete/bicicletas.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/bicicletas/bicicletas.estacion.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/bicicletas/bicicletasReserva.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/bicicletas/asociar/bicicletas.asociar.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/bicicletas/agregarEstacion/bicicletas.agregarEstacion.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/bicicletas/entregar/bicicletas.entregar.ctrl.js" type="text/javascript"></script>


        <script src="src/modules/accesoriosBicicleta/accesoriosbicicleta.mod.js" type="text/javascript"></script>
        <script src="src/modules/accesoriosBicicleta/accesoriosbicicleta.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesoriosBicicleta/new/accesoriosBicicleta.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/accesoriosBicicleta/delete/accesoriosBicicleta.delete.ctrl.js" type="text/javascript"></script>



        <script src="src/modules/usuarios/usuarios.mod.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/usuarios.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/delete/usuarios.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/new/usuarios.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/update/usuarios.update.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/usuarios/consulta/usuarios.consulta.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/puntos/puntos.mod.js" type="text/javascript"></script>
        <script src="src/modules/puntos/puntos.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/direcciones/direcciones.mod.js" type="text/javascript"></script>
        <script src="src/modules/direcciones/direcciones.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/direcciones/delete/direcciones.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/direcciones/new/direcciones.new.ctrl.js" type="text/javascript"></script>


        <script src="src/modules/pagos/pagos.mod.js" type="text/javascript"></script>
        <script src="src/modules/pagos/pagos.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/pagos/pagoReserva.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/pagos/metodos/pagos.metodos.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/login/login.mod.js" type="text/javascript"></script>
        <script src="src/modules/login/login.ctrl.js" type="text/javascript"></script>        
        <script src="src/modules/login/logout.ctrl.js" type="text/javascript"></script>

        <script src="src/modules/reservas/reservas.mod.js" type="text/javascript"></script>
        <script src="src/modules/reservas/reservas.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/reservas/reservasDetail.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/reservas/new/reservas.new.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/reservas/delete/reservas.delete.ctrl.js" type="text/javascript"></script>
        <script src="src/modules/reservas/estacion/reservas.estacion.ctrl.js" type="text/javascript"></script>

        <script src="src/app.js" type="text/javascript"></script> 
        <script src="src/http-interceptor.factory.js" type="text/javascript"></script> 

    </head>
    <body>
        <div class="container-fluid">
            <nav class="navbar navbar-inverse navbar-fixed-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="fa fa-bicycle" style="font-size: 20px;color:white"></span>                          
                        </button>   
                        <a class="navbar-brand" style="font-size: 20px;color: white">DEAP</a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar" style="font-size: 16px;text-align: center;">
                        <ul class="nav navbar-nav" style="display: inline-block;float: none" >
                            <li><a ui-sref="bicicletasList">Bicicletas</a></li>
                            <li><a ui-sref="estacionesList">Estaciones</a></li>
                           <li><a ng-if="isAuthenticated() && isAdministrador()" ui-sref="pagosList">Pagos</a></li>
                            <li><a ui-sref="usuariosList">Usuarios</a></li>                           
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a ui-sref="usuariosCreate"><span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Registrarse</a></li>
                            <li><a ng-if="!isAuthenticated()" ui-sref="login"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Iniciar sesión</a></li>
                             <li><a ng-if="isAuthenticated()" ui-sref="logout"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Cerrar sesión</a></li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            <br>
            <div class="span4" ui-view="mainView"></div> 
        </div>
    </body>
</html>

