.thead-inverse th 
{
    color: #fff;
    background-color: #222;
    text-align: center;           
}

.table {
    width: 90%;
    margin: 0px auto;
    float: none;
    text-align: center;
    margin-bottom: 10px;
    border:1px solid #222;
}
.btn-secondary
{ 
    margin-top: 2px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; 
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary
{ 
    color: #ffffff; 
    background-color: #222;
    border-color: #444; 
}
body 
{
    padding-top: 60px;
}










