.thead-inverse th 
{
    color: #fff;
    background-color: #222;
    text-align: center;           
}

.table {
    width: 100%;
    margin: 0px auto;
    float: none;
    text-align: center;
    margin-bottom: 10px;
    border:1px solid #222;
}
.btn-secondary
{ 
    margin-top: 2px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; 
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary
{ 
    color: #ffffff; 
    background-color: #222;
    border-color: #444; 
}
.btn-back
{ 
    margin-top: 2px;
    color: #ffffff; 
    background-color: #222; 
    border-color: #222; 
}
.btn-back:hover, .btn-back:focus, .btn-back:active, .btn-back.active, .open .dropdown-toggle.btn-back
{ 
    color: #fff;
    background-color: #343a40;
    border-color: #444; 
}
body 
{
    padding-top: 50px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
.list-group-item { 
    word-wrap: break-word; 
}

.form-signin {
    max-width: 280px;
    padding: 15px;
    margin: 0 auto;
    margin-top:50px;
}
.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top:1px solid rgba(0,0,0,0.08);
}
.form-signin-heading {
    color: black;
    text-align: center;
    text-shadow: 0 2px 2px rgba(0,0,0,0.5);
}

.nameUser{
    top: 15px;
}










