.thead-inverse th 
{
    color: #fff;
    background-color: #222;
    text-align: center;           
}

.table {
    width: 90%;
    margin: 0px auto;
    float: none;
    text-align: center;
    margin-bottom: 10px;
    border:1px solid #222;
}
.btn-secondary
{ 
    margin-top: 2px;
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; 
}
.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open .dropdown-toggle.btn-secondary
{ 
    color: #ffffff; 
    background-color: #222;
    border-color: #444; 
}
.btn-back
{ 
    margin-top: 2px;
    color: #ffffff; 
    background-color: #222; 
    border-color: #222; 
}
.btn-back:hover, .btn-back:focus, .btn-back:active, .btn-back.active, .open .dropdown-toggle.btn-back
{ 
    color: #fff;
    background-color: #343a40;
    border-color: #444; 
}
body 
{
    padding-top: 50px;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
.list-group-item { 
    word-wrap: break-word; 
}









