<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <dl>     
                <dt>Id de bicicleta</dt>
                <dd>{{currentBicicleta.id}}</dd>
                
                <hr>
                <dt>Modelo:</dt>
                <dd>{{currentBicicleta.modelo}}</dd>
                <hr>
                <dt>Marca:</dt>
                <dd>{{currentBicicleta.marca}}</dd>
                <hr>
                <dt>Estado:</dt>
                <dd ng-if="currentBicicleta.estado == 0">Reservada</dd>
                <dd ng-if="currentBicicleta.estado == 1">Prestada</dd>
                <dd ng-if="currentBicicleta.estado == 2">Disponible</dd>
                <dd ng-if="currentBicicleta.estado == 3">Dañada</dd>
            </div>
            <div class="col-md-9">
                </dl>
                <ul class="nav nav-tabs" >
                    <li> <a ui-sref="accesoriosBicicletaBicicleta({id: currentBicicleta.id})">AccesorioBicicleta</a></li>       
                </ul>
                <br>
                <div class="col-md-12">
                <div ui-view="childrenView"></div>
            </div>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
</div>

