<div class="container-fluid">  
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #222"><label ng-if="!edit" id="createAccesorioBicicleta">Añadir un nuevo accesorio a la bicicleta</label>
                <label ng-if="edit" id="editAccesorioBicicleta">Edit accesorioBicicleta</label></div>
            <div class="panel-body">
                <form  ng-submit="createAccesorioBicicleta()" name="accesorioBicicleta">
                    <div class="form-group row">
                        <div class="form-group col-md-6">                         
                            <label for="accesorioBicicletaNombre" class="col-sm-4">Tipo:</label>
                                <select id="accesorioBicicletaNombre" required ng-model="accesorioBicicletaNombre">
                                    <option value="0">Luces</option>
                                    <option value="1">Candado</option>
                                    <option value="2">Canastilla</option>
                                </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="accesorioBicicletaDescripcion" class="col-sm-4">Descripcion :</label>
                                <input id="accesorioBicicletaDescripcion" required ng-model="accesorioBicicletaDescripcion" class="col-sm-6"/>
                        </div>
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!accesorioBicicleta.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia:</strong><p>Todos los campos son requeridos*</p>
                            </div>
                        </div> 
                        <div class="form-group row">
                            <div class="form-group col-sm-12">&nbsp;&nbsp;&nbsp;
                            <input ng-show="accesorioBicicleta.$valid" type="submit" value="Crear" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="accesoriosBicicletaBicicleta">Volver</a>
                        </div>
                    </div>
                    </div> 
                </form>

            </div>
        </div>
    </div>
</div>
