<div class="row"> 
    <div class="col-sm-12" style="text-align: center">
        <h4><b>Accesorios en la estación:</b> {{accesoriosRecords.length}}</h4>
    </div>
    <div class="col-sm-12"><br></div>
    <div class="col-sm-2" style="text-align: center"></div>
    <div class="col-sm-8">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Accesorio</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="accesorio in accesoriosRecords">
                        <td id="{{$index}}-id">{{accesorio.id}}</td>

                        <td id="{{$index}}-id">
                            <div ng-if="accesorio.tipo == 1">
                                Casco
                            </div>
                            <div ng-if="accesorio.tipo == 2">
                                Chaleco
                            </div>
                        </td>
                        <td>
                            <div ng-if="accesorio.reservado == 1">
                                Reservado
                            </div>
                            <div ng-if="accesorio.reservado == 0">
                                Libre
                            </div> 
                        </td>
                        <td id="{{$index}}-actions">
                            <a class="btn btn-primary btn-sm" ui-sref=""><span class="glyphicon glyphicon-move"></span></a> 
                            <a class="btn btn-danger btn-sm" ui-sref="accesorioDelete({id: accesorio.id})"><span class="glyphicon glyphicon-trash"></span></a>                            
                                              
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>







