<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label>Lista de accesorios</label></div>
            <div class="panel-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <div class="btn-group mr-2" role="group" aria-label="First group">
                        <a class="btn btn-info" ui-sref="accesoriosCreate"><span class="glyphicon glyphicon-plus-sign"></span>Añadir accesorio</a>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                            <tr> 
                                <th>Accesorio</th>
                                <th>Tipo</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="accesorio in accesoriosRecords">
                                <td id="{{$index}}-id">{{accesorio.id}}</td>
                                
                                <td id="{{$index}}-id">
                                    <div ng-if="accesorio.tipo == 1">
                                        Casco
                                    </div>
                                    <div ng-if="accesorio.tipo == 0">
                                        Chaleco
                                    </div>
                                </td>
                                <td>
                                   <div ng-if="accesorio.reservado == 1">
                                        Reservado
                                    </div>
                                    <div ng-if="accesorio.reservado == 0">
                                        Libre
                                    </div> 
                                </td>
                                <td id="{{$index}}-actions">
                                    <a class="btn btn-danger btn-sm" ui-sref="accesorioDelete({idAccesorio: accesorio.id})"><span class="glyphicon glyphicon-trash"></span></a>
                                </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</div>
