<div class="row">
   <div class="col-sm-12" style="text-align: center">
        <h2>Accesorios</h2>
    </div>
    <div class="col-sm-12"><br></div>
    <div class="col-sm-2" style="text-align: center">  
        <div class="btn-group mr-1" role="group" aria-label="First group">
            <a class="btn btn-secondary" ui-sref="accesoriosEstacionCreate"><span class="glyphicon glyphicon-plus"></span>&nbsp;Añadir accesorio</a>
        </div>
    </div>
    <div class="col-sm-9">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Accesorio</th>
                        <th>Tipo</th>
                        <th>Estado</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="accesorio in accesoriosRecords">
                        <td id="{{$index}}-id">{{accesorio.id}}</td>

                        <td id="{{$index}}-id">
                            <div ng-if="accesorio.tipo == 1">
                                Casco
                            </div>
                            <div ng-if="accesorio.tipo == 2">
                                Chaleco
                            </div>
                        </td>
                        <td>
                            <div ng-if="accesorio.reservado == 1">
                                Reservado
                            </div>
                            <div ng-if="accesorio.reservado == 0">
                                Libre
                            </div> 
                        </td>
                        <td id="{{$index}}-actions">
                            <a class="btn btn-danger btn-sm" ui-sref="accesorioDelete({id: accesorio.id})"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1"></div>

</div>



