<div class="row"> 
    <div class="col-sm-1">  
    </div>
    <div class="col-sm-10">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Id</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="accesorioBicicleta in accesorioBicicletaRecords">
                        <td id="{{$index}}-id">{{accesorioBicicleta.id}}</td>
                        <td id="{{$index}}-estado">
                            <div ng-if="accesorioBicicleta.nombre == 0">
                                Luces
                            </div>
                            <div ng-if="accesorioBicicleta.nombre == 1">
                                Candado
                            </div>
                            <div ng-if="accesorioBicicleta.nombre == 2">
                                Canastilla
                            </div>
                        </td>
                        <td id="{{$index}}-descripcion">{{accesorioBicicleta.descripcion}}</td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1"></div>

</div>