<div class="row"> 
    <div class="col-sm-12" style="text-align: center">
        <h4><b>Accesorios en la bicicleta:</b> {{accesorioBicicletaRecords.length}}</h4>
    </div>
    <div class="col-sm-12"><br></div>
    <div class="col-sm-3"><br>  
    </div>
    <div class="col-sm-6">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr>
                        <th>Tipo</th>
                        <th>Descripción</th>
                        <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="accesorioBicicleta in accesorioBicicletaRecords">
                        <td id="{{$index}}-estado">
                            <div ng-if="accesorioBicicleta.nombre == 0">
                                Luces
                            </div>
                            <div ng-if="accesorioBicicleta.nombre == 1">
                                Candado
                            </div>
                            <div ng-if="accesorioBicicleta.nombre == 2">
                                Canastilla
                            </div>
                        </td>
                        <td id="{{$index}}-descripcion">{{accesorioBicicleta.descripcion}}</td>
                        <td id="{{$index}}-actions">
                            <a class="btn btn-danger btn-sm" ui-sref="deleteAccesorioBicicleta({id: currentBicicleta.id, idAccesorioBicicleta: accesorioBicicleta.id})"><span class="glyphicon glyphicon-trash"></span></a>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1"></div>

</div>