<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #222"><label ng-if="!edit" id="createBicicleta">Asociar nueva bicicleta</label>
                <label ng-if="edit" id="editBicicleta">Edit bicicleta</label></div>
            <div class="panel-body">
                <form ng-submit="asociarBicicleta()" name="bicicleta">
                    <div class="form-group row">
                        <div class="form-group col-md-9">
                            <label for="bicicletaId" class="col-sm-4">Bicicleta:</label>
                            <select id="bicicletaId" required ng-model="bicicletaId" class="col-sm-6"/>
                         <option ng-repeat="bicicleta in estacionBicicletasDisponiblesRecords" value="{{bicicleta.id}}">{{bicicleta.marca}} - {{bicicleta.modelo}}</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!bicicleta.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div>
                        </div> 
                        <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="bicicleta.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="reservaDetail">Cancelar</a>
                        </div>
                    </div>
                    </div> 
                </form>

            </div>
        </div>
    </div>
</div>
