<div class="container-fluid">
    <div class="col-sm-12" style="text-align: center">
        <div>
            <h4 id="createBicicleta"><b>Crear una dirección</b></h4>
        </div>

    </div>
    <div class="col-sm-12"><br></div>

    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form ng-submit="createDireccion()" name="direccion">
                    <div class="col-sm-12">
                        <div class="form-group row">   
                            <div class="form-group col-sm-12">
                                <label for="direccionName">Direccion:</label>
                                <input id="direccionName" required ng-model="direccionName" class="form-control"/>
                            </div>  

                        </div>
                        <div class="form-group row">   
                            <div class="form-group col-sm-12">
                                <label for="direccionDescripcion">Descripcion:</label>
                            <input id="direccionDescripcion" required ng-model="direccionDescripcion" class="form-control"/>
                            </div>  

                        </div>
                        
                        <div class="form-group row">   
                            <div class="form-group col-sm-12">
                                 <label for="direccionCodigoPostal">Codigo postal:</label>
                            <input id="direccionCodigoPostal" required ng-model="direccionCodigoPostal" class="form-control"/>
                                
                            </div>  

                        </div>
                        
                        <div class="form-group row">   
                            <div class="form-group col-sm-12">
                                 <label for="direccionCiudad">Ciudad:</label>
                            <input id="direccionCiudad " required ng-model="direccionCiudad" class="form-control"/>
                            </div>  

                        </div>
                        
                        <div class="form-group row">
                            <div class="form-group" ng-if="!direccion.$valid">

                                <div class="alert alert-warning" >
                                    <strong>Advertencia:</strong><p>Todos los campos son necesarios</p>
                                </div> 
                            </div> 
                        </div>


                        <div class="form-group row">
                            <div class="form-group col-sm-12">                          
                                <button ng-show="direccion.$valid" type="submit" class="btn btn-success">

                                    <i class="glyphicon glyphicon-plus"></i> Crear

                                </button>
                                <a class="btn btn-danger btn-sm" onclick="history.back()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Cancelar</a>
                            </div>
                        </div>                       
                    </div>

                    
                </form>


            </div>
        </div>
    </div>
</div>





