<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading">              
                <div ng-hide="edit">
                <label ng-show="cali==0" id="createCalificacion">Calificar estación de salida - {{currentReserva.estacionSalida.name}}</label>
                <label ng-show="cali==1" id="createCalificacion">Calificar estación de llegada - {{currentReserva.mostrarLlegada.name}}</label>               
                </div>
                <div ng-show="edit">
                <label ng-show="cali==0" id="updateCalificacion">Editar la calificación de la estación de salida - {{currentReserva.estacionSalida.name}}</label>
                <label ng-show="cali==1" id="updateCalificacion">Editar la calificación de la estación de llegada - {{currentReserva.mostrarLlegada.name}}</label>
                </div>
            </div>
            <div class="panel-body">
                <form ng-submit="createCalificacion()" name="calificacion">
                    <div class="form-group row">
                        <div class="form-group col-md-2">
                            <label for="nota" class="col-sm-1">Nota:</label>
                            <select id="nota" required ng-model="nota" class="form-control">                           
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            </select>                          
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="descripcion" class="col-sm-2">Descripcion:</label>
                            <textarea id="descripcion" ng-model="descripcion" class="form-control noresize"></textarea>
                        </div>
                    </div>
                    
                        

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!calificacion.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia:</strong><p>Debes seleccionar una nota para poder continuar.</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">                          
                            <button ng-show="calificacion.$valid" type="submit" class="btn btn-success">
                                <div ng-hide="edit">
                                    <i class="glyphicon glyphicon-star"></i> Calificar
                                </div>
                                <div ng-show="edit">
                                    <i class="glyphicon glyphicon-edit"></i> Editar
                                </div>                          
                            </button>
                            <a class="btn btn-danger btn-sm" ui-sref="calificacionDetail({cali: cali, idUsuario: currentReserva.usuarioReserva.documentoUsuario, idReserva: currentReserva.idReserva})"><span class="glyphicon glyphicon-remove"></span>&nbsp;Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>