<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading" style="background-color: #222"><label ng-if="!edit" id="createReserva">Crear una nueva reserva</label>
                <label ng-if="edit" id="editUsuario">Edit Reserva</label></div>
            <div class="panel-body">
                <form ng-submit="createReserva()" name="reserva">
                    <div class="form-group row">
                        <div class="form-group col-md-9">
                            <label for="estacionId" class="col-sm-4">Estacion de salida:</label>
                            <select id="estacionId" required ng-model="estacionId" class="col-sm-3"/>
                         <option ng-repeat="estacion in estacionesDisponiblesRecords" value="{{estacion.id}}">{{estacion.nombre}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-9">
                            <label for="fechaSalida" class="col-sm-4">Fecha de salida:</label>
                            <input type="date" id="fechaSalida" required ng-model="fechaSalida" class="col-sm-3"/>
                            <label for="hora" class="col-sm-1">Hora:</label>
                            <input type="time" id="hora" required ng-model="hora" class="col-sm-2"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-9">
                            <label for="fechaLlegada" class="col-sm-4">Fecha de llegada:</label>
                            <input type="date" id="fechaLlegada" required ng-model="fechaLlegada" class="col-sm-3"/>
                            <label for="hora2" class="col-sm-1">Hora:</label>
                            <input type="time" id="hora2" required ng-model="hora2" class="col-sm-2"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!reserva.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="reserva.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="reservasList">Cancelar</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
