<div class="container-fluid">
    <div class="col-sm-12" style="text-align: center">
        <div>
            <h4 id="createBicicleta"><b>Crear una reserva</b></h4>

        </div>

    </div>
    <div class="col-sm-12"><br></div>

    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div class="panel panel-primary">
            <div class="panel-body">
                <form ng-submit="createReserva()" name="reserva">
                    <div class="col-sm-12">
                        <div class="form-group row">   
                            <div class="form-group col-sm-12">
                                <label for="estacionId" >Estacion de salida:</label>
                                <select id="estacionId" required ng-model="estacionId" class="form-control"/>
                                <option ng-repeat="estacion in estacionesDisponiblesRecords" value="{{estacion.id}}">{{estacion.nombre}}</option>
                                </select>
                            </div>  

                        </div>
                        <div class="form-group row">   
                            <div class="form-group col-sm-12">
                                <label for="fechaSalida">Fecha de salida:</label>
                                <input type="date" id="fechaSalida" required ng-model="fechaSalida" class="form-control"/>

                            </div>  

                        </div>

                        <div class="form-group row">   
                            <div class="form-group col-sm-12">
                                <label for="hora">Hora inicio:</label>
                                <input type="time" id="hora" required ng-model="hora" class="form-control"/>
                            </div>
                        </div>



                        <div class="form-group row">   
                            <div class="form-group col-sm-12">
                                <label for="hora2">Hora de entrega:</label>
                                <input type="time" id="hora2" required ng-model="hora2" class="form-control"/>
                            </div>  

                        </div>
                        
                        <div class="form-group row">
                            <div class="form-group col-sm-12" ng-if="!reserva.$valid">

                                <div class="alert alert-warning" >
                                    <strong>Advertencia:</strong><p>Todos los campos son necesarios</p>
                                </div> 
                            </div> 
                        </div> 


                        <div class="form-group row">
                            <div class="form-group col-sm-12">                          
                                <button ng-show="reserva.$valid" type="submit" class="btn btn-success">

                                    <i class="glyphicon glyphicon-plus"></i> Crear

                                </button>
                                <a class="btn btn-danger btn-sm" onclick="history.back()"><span class="glyphicon glyphicon-remove"></span>&nbsp;Cancelar</a>
                            </div>
                        </div>
                    </div>

                    
                </form>


            </div>
        </div>
    </div>
</div>

