<div class="panel panel-default"> 
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <dl>     
                    <dt>Id Reserva</dt>
                    <dd>{{currentReserva.idReserva}}</dd>

                    <hr>
                    <dt>Estacion Salida</dt>
                    <dd>{{currentReserva.estacionSalida.name}}</dd>

                    <hr>
                    <dt>Estacion Llegada</dt>
                    <dd>{{currentReserva.mostrarLlegada.name}}</dd>

                    <hr>
                    <dt>Fecha inicio</dt>
                    <dd>{{currentReserva.fechaInicio}}</dd>

                    <hr>

                    <hr>
                    <dt>Fecha Llegada</dt>
                    <dd>{{currentReserva.fechaEntrega}}</dd>

                    <hr>
                    <hr>
                    <dt>Costo</dt>
                    <dd>{{currentReserva.precioFinal}}</dd>
                    
                    <hr>
                    <div class="btn-group-vertical">
                        <a class="btn btn-info" ng-click="irAPagar()"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Pagar</a>
                        <a class="btn btn-info" ng-click="verTransaccion()"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Ver transaccion</a>

                    </div>
                                            </dl>



            </div>

            <div class="col-md-9">
                <ul class="nav nav-tabs" style="display: flex;justify-content: center">
                    <li> <a ui-sref="accesoriosReservaList({idReserva: currentReserva.idReserva})">Accesorios</a></li>        
                    <li> <a ui-sref="bicicletasReservaList({idReserva: currentReserva.idReserva})">Bicicletas</a></li>
                    <li> <a ui-sref="calificacionDetail({cali: 0, idUsuario: currentReserva.usuarioReserva.documentoUsuario, idReserva: currentReserva.idReserva})">Calificación estación de salida</a></li>
                    <li> <a ui-sref="calificacionDetail({cali: 1, idUsuario: currentReserva.usuarioReserva.documentoUsuario, idReserva: currentReserva.idReserva})">Calificación estación de llegada</a></li>         
                </ul>
                <br>
                <div class="col-md-12">
                    <div ui-view="childrenView"></div>
                </div>
            </div>
        </div>
        <div class="row">

        </div>
    </div>
</div>
