<div class="container-fluid">   
    <div class="col-sm-12">
        <br>
        <table ng-if="!messageReservas" class="table table-striped">
            <thead>
                <div class="col-sm-3">
                    <tr>
                        <th>Total Reservas:</th>
                        <td> {{reservasRecords.length}}</td>
                    <div class="row">
                        <br>
                        <td><a ng-hide="mostrar" class="btn btn-info" ui-sref="reservaCreate({idUsuario:currentUsuario.documentoUsuario})"><span class="glyphicon glyphicon-plus-sign"></span>Crear Reserva</a>
                        </td>
                    </div>
                    </tr>
                </div>
                <tr>
                    <th>&nbsp;</th>
                </tr>
                      <tr> 
                      <th ng-show="mostrar">Usuario</th>
                      <th>Reserva</th>
                      <th>Fecha de Inicio</th>
                      <th>Fecha de Entrega</th>
                      <th>Estado</th>
                      </tr>
            </thead>
            
            <tbody>
                <tr ng-repeat="reserva in reservasRecords">
                    <td ng-show="mostrar" id="{{$index}}-idUsuario"><a ui-sref="usuarioDetail({documentoUsuario:reserva.usuarioReserva.documentoUsuario})">{{reserva.usuarioReserva.documentoUsuario }}</a></td>
                    <td id="{{$index}}-idReserva"><a ui-sref="reservaDetail({idUsuario:reserva.usuarioReserva.documentoUsuario,idReserva:reserva.idReserva})">{{reserva.idReserva}}</a></td>
                    <td id="{{$index}}-fechaInicio" >{{reserva.fechaInicio }}</td>
                    <td id="{{$index}}-fechaEntega">{{reserva.fechaEntrega }}</td>
                    <td id="{{$index}}-estado" ng-if="reserva.estado==1">{{"En curso"}}</td>
                    <td id="{{$index}}-estado" ng-if="reserva.estado==2">{{"Cancelada"}}</td> 
                    <td id="{{$index}}-actions">
                        <a ng-hide="mostrar" class="btn btn-danger btn-sm" ui-sref="reservaDelete({idReserva:reserva.idReserva})"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <table ng-if="messageReservas" class="table table-striped">
            
            <tbody>
                <tr>
                    <td><b>{{messageReservas}}</b></td>                                  
                </tr>
            </tbody>
        </table>
    </div>

</div>
