<div class="row">
    <br>  
    <div class="col-sm-12" style="text-align: center">
        <h2><b>Total Reservas: </b> {{reservasRecords.length}}</h2>
    </div>
    <div class="col-sm-12"><br></div>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-inverse">
                    <tr> 
                      <th ng-show="mostrar">Usuario</th>
                      <th>Reserva</th>
                      <th>Fecha de Inicio</th>
                      <th>Fecha de Entrega</th>
                      <th>Estado</th>
                      <th>Acciones</th>
                      </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="reserva in reservasRecords">
                    <td ng-show="mostrar" id="{{$index}}-idUsuario"><a ui-sref="usuarioDetail({documentoUsuario:reserva.usuarioReserva.documentoUsuario})">{{reserva.usuarioReserva.documentoUsuario }}</a></td>
                    <td id="{{$index}}-idReserva"><a ui-sref="reservaDetail({idUsuario:reserva.usuarioReserva.documentoUsuario,idReserva:reserva.idReserva})">{{reserva.idReserva}}</a></td>
                    <td id="{{$index}}-fechaInicio" >{{reserva.fechaInicio }}</td>
                    <td id="{{$index}}-fechaEntega">{{reserva.fechaEntrega }}</td>
                    <td id="{{$index}}-estado" ng-if="reserva.estado==0">{{"Pagada"}}</td>
                    <td id="{{$index}}-estado" ng-if="reserva.estado==1">{{"Esperando Pago"}}</td> 
                    <td id="{{$index}}-estado" ng-if="reserva.estado==2">{{"Cancelada"}}</td>
                    <td id="{{$index}}-estado" ng-if="reserva.estado==3">{{"En Uso"}}</td> 
                    <td id="{{$index}}-estado" ng-if="reserva.estado==4">{{"Reembolsado"}}</td>
                    <td id="{{$index}}-estado" ng-if="reserva.estado==5">{{"Finalizada"}}</td> 
                    <td id="{{$index}}-actions">
                        <a ng-hide="mostrar" class="btn btn-danger btn-sm" ui-sref="reservaDelete({idReserva:reserva.idReserva})"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-sm-1"></div>

</div>




