<div class="panel container-fluid">    
    <div class="row">
        <div class="col-sm-12" style="text-align: center">
            <h2>Reserva {{currentReserva.idReserva}}</h2>
        </div>
        
        <div class="col-sm-12">&nbsp;
            <div ng-show="currentReserva.estado === 1 && !currentReserva.bicicletas" class="alert alert-info" style="text-align: center"  >
                Empieza <a ui-sref="asociarBicicleta({idReserva: currentReserva.idReserva})" class="alert-link">añadiendo bicicletas</a> a tu reserva
            </div>
            <div ng-show="currentReserva.estado === 1 && currentReserva.bicicletas && !currentReserva.accesorios" class="alert alert-info" style="text-align: center"  >
                Procede a <a ui-sref="asociarAccesorio({idReserva: currentReserva.idReserva})" class="alert-link">añadir los accesorios</a> que consideres necesarios. Estos no poseen ningún costo adicional
            </div>
        </div>
       

        <div class="col-sm-3">
            <div class="btn-group-vertical">
                <button class="btn btn-secondary" ui-sref="asociarAccesorio({idReserva: currentReserva.idReserva, idEstacion: currentReserva.estacionSalida.id})"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Añadir accesorios</button>
                <button class="btn btn-secondary" ui-sref="asociarBicicleta({idReserva: currentReserva.idReserva})"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Añadir bicicletas</button>                
                <button ng-hide="currentReserva.calificacionSalida" class="btn btn-secondary" ui-sref="calificacionesCreate({cali: 0, idUsuario: currentReserva.usuarioReserva.documentoUsuario, idReserva: currentReserva.idReserva})"><span class="glyphicon glyphicon-star"></span>&nbsp;Calificar estación de salida</button>              
                <button ng-show="currentReserva.calificacionSalida && !currentReserva.calificacionLlegada" class="btn btn-secondary" ui-sref="calificacionesCreate({cali: 1, idUsuario: currentReserva.usuarioReserva.documentoUsuario, idReserva: currentReserva.idReserva})"><span class="glyphicon glyphicon-star"></span>&nbsp;Calificar estación de llegada</button>              
                <button class="btn btn-secondary" ng-click="irAPagar()"><span class="glyphicon glyphicon-usd"></span>&nbsp;Pagar</button>
                <button class="btn btn-secondary" ng-click="verTransaccion()"><span class="glyphicon glyphicon-eye-open"></span>&nbsp;Ver transaccion</button>
                <button class="btn btn-secondary" ng-click="iniciarReserva()"><span></span>&nbsp;Iniciar Reserva</button> 
                <br>
                <button class="btn btn-back" onclick="history.back()"><span class="glyphicon glyphicon-chevron-left"></span>&nbsp;Regresar</button> 
                <br>
            </div>


        </div>
        <div class="col-sm-3">
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Estacion de salida:</h4>
                <p class="list-group-item-text">{{currentReserva.estacionSalida.name}}</p>
            </a>
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Estacion de llegada:</h4>
                <p class="list-group-item-text">{{currentReserva.mostrarLlegada.name}}</p>
            </a>   
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Costo:</h4>
                <p class="list-group-item-text">$ {{currentReserva.precioFinal}}</p>
            </a> 
        </div>
        <div class="col-sm-3">
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Fecha de inicio:</h4>
                <p class="list-group-item-text">{{currentReserva.fechaInicio}}</p>
            </a>
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Fecha de entrega:</h4>
                <p class="list-group-item-text">{{currentReserva.fechaEntrega}}</p>
            </a> 
            <a class="list-group-item">
                <h4 class="list-group-item-heading">Estado de la reserva:</h4>
                <p class="list-group-item-text" ng-if="currentReserva.estado==1">{{ "Necesita Pago" }}</p>
                <p class="list-group-item-text" ng-if="currentReserva.estado==0">{{ "Pagada" }}</p>
                <p class="list-group-item-text" ng-if="currentReserva.estado==2">{{ "Cancelada" }}</p>
                <p class="list-group-item-text" ng-if="currentReserva.estado==3">{{ "En uso" }}</p>
                <p class="list-group-item-text" ng-if="currentReserva.estado==4">{{ "Reembolsada" }}</p>
                <p class="list-group-item-text" ng-if="currentReserva.estado==5">{{ "Finalizada" }}</p>
            </a>  
        </div>
        <div class="col-sm-3"></div>
    </div> 
    <br>
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <ul class="nav nav-tabs flex-column flex-sm-row nav-justified" style="">
            <li> <a class="flex-sm-fill text-sm-center"  ui-sref="accesoriosReservaList({idReserva: currentReserva.idReserva})">Accesorios</a></li>        
            <li> <a class="flex-sm-fill text-sm-center" ui-sref="bicicletasReservaList({idReserva: currentReserva.idReserva})">Bicicletas</a></li>
            <li> <a class="flex-sm-fill text-sm-center" ui-sref="calificacionDetail({cali: 0, idUsuario: currentReserva.usuarioReserva.documentoUsuario, idReserva: currentReserva.idReserva})">Calificación estación de salida</a></li>
            <li> <a ng-show="currentReserva.mostrarLlegada" class="flex-sm-fill text-sm-center" ui-sref="calificacionDetail({cali: 1, idUsuario: currentReserva.usuarioReserva.documentoUsuario, idReserva: currentReserva.idReserva})">Calificación estación de llegada</a></li>          
        </ul>

    </div>
    <div class="col-sm-12"><br></div>
    <div class="col-md-12">
        <div ui-view="childrenView"></div>
    </div>
</div>


